@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Giga Sand";
    src: url("/fonts/GigaSand-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  



  :root {
    --green: #D36C16;
    --black: rgb(0, 0, 0);
    --dark: #FF8415;
    --white: #f3f3f3;
    --gris:rgba(178,178,178,0.3226540616246498) 100%
  }

  @layer base {
    * {
      box-sizing: border-box;
      font-family: "Giga Sand", sans-serif; /* Cambiado a Giga Sand */
      scroll-behavior: smooth;
    }
    

    body {
      font-size: 20px;
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 70%, rgba(178,178,178,0.3226540616246498) 100%);
    }

    p {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 120%;
      font-weight: 500;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    @media (max-width: 640px) {
      body {
        font-size: 16px;
      }

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 2.688rem;
      }

      h2 {
        font-size: 2.25rem;
      }

      h3 {
        font-size: 1.625rem;
      }

      h4 {
        font-size: 1.125rem;
      }
    }
  }

  @layer components {
    .btn-primary {
      @apply bg-[#FF8415] text-white rounded-lg px-[35px] py-3 transition-all duration-200;
    }
    .btn-primary:hover {
      @apply bg-[#F9B200] text-black transform scale-105;
    }

    .btn-secondary {
      @apply bg-transparent text-black px-[35px] py-5 rounded-lg border border-solid border-black transition-all duration-200;
    }
    .btn-secondary:hover {
      @apply bg-black text-white border-green transform scale-105;
    }

    .btn-tertiary {
      @apply bg-green text-black rounded-lg px-[35px] py-5 transition-all duration-200;
    }
    .btn-tertiary:hover {
      @apply bg-white text-black transform scale-105;
    }

    .greenhead {
      @apply bg-green text-black rounded-[7px] px-[7px];
    }

    .whitehead {
      @apply bg-white text-black rounded-[7px] px-[7px];
    }

    .blackhead {
      @apply bg-black text-white rounded-[7px] px-[7px];
    }
  }
}
