---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---
<SectionTitle sectionTitle="¿Conversemos?" description="" id="contact"/>

<Section >
  <div class="relative mt-5">
    <p class="text-sm text-gray-500 text-center mb-1">
      Llámanos al +569 59158741 , escríbenos a info@Geosys.cl o rellena el
      siguiente formulario:
    </p>
    <Form />
  </div>
</Section>

<style>
  p {
    font-size: 1.25rem;
  } 
</style>
