---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---
<SectionTitle sectionTitle="¿Conversemos?" description="" id="contact"/>

<Section >
  <div class="relative mt-5">
    <Form />
  </div>
</Section>

<style>
  p {
    font-size: 1.25rem;
  } 
</style>
