---
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Card from "../ui/Card.astro";
---
<SectionTitle sectionTitle="Acerca de " description="Nosotros" id="History"/>

<Section id="">

  <div class="container mx-auto text-start">
    <p class="mb-4 text-base font-normal text-black">
      En Geosys Spa, nuestra trayectoria está arraigada en la pasión por la
      ingeniería civil y el compromiso con la excelencia geotécnica. Fundada por
      Enrique Sepúlveda Bornand y Paulo Sepúlveda Aravena.
    </p>

    <ol class="relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-semibold text-gray-400">
          Fundación
        </time>
        <p class="mb-4 text-base font-normal text-black">
          Enrique, ingeniero civil con más de 20 años de experiencia, y Paulo,
          laboratorista vial con 30 años en laboratorios de suelos, unieron sus
          conocimientos en estructuras y prospección geofísica aplicada a la
          construcción de infraestructuras.
        </p>
      </li>
      <li class="mb-10 ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-semibold leading-none text-gray-400 dark:text-gray-500"
        >
          Expansión
        </time>
        <p class="text-base font-normal text-black">
          Innovamos en sondajes y perforaciones geotécnicas, expandiendo nuestra
          presencia al centro-sur de Chile y liderando el sector con tecnologías
          avanzadas y prácticas sostenibles.
        </p>
      </li>
      <li class="ms-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time class="mb-1 text-sm font-semibold text-black dark:text-gray-500">
          Compromiso
        </time>
        <p class="text-base font-normal text-black">
          Ofrecemos exploraciones detalladas del suelo y subsuelo, asegurando
          construcción segura. Nuestro compromiso con la ética y el
          profesionalismo brinda confianza en cada perforación.
        </p>
      </li>
    </ol>
  </div>
</Section>
