---
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Card from "../ui/Card.astro";
---

<Section id="History">
  <SectionTitle sectionTitle="Nuestra historia" description="" />
  <div class="container mx-auto text-center">
    <p class="max-w-2xl mx-auto">
      Fundada por Enrique Sepúlveda Bornand y Paulo Sepúlveda Aravena, GeoSys
      Spa nació de una destacada experiencia y la solicitud constante de
      nuestros clientes. Con más de 50 años de experiencia combinada, ofrecemos
      servicios precisos y confiables en sondajes y perforaciones geotécnicas,
      liderando el sector con tecnologías avanzadas y prácticas sostenibles.
    </p>
  </div>
</Section>
