---
const { id } = Astro.props;
---

<section id={id} data-aos="fade-up" data-aos-delay="150" class="px-5 flex justify-center overflow-hidden lg:block  mb-[180px] ">
  <div class="w-full max-w-[1280px] mx-auto">
    <slot />
  </div>
</section>
