---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<SectionTitle
  sectionTitle="Testimonios"
  description=""
  id="testimonials"
/>
<Section >
  <div>
    <!-- Reduce el margen superior -->

    <div class="cont rounded-[30px] bg-[#B2B2B2] text-white">
      <!-- Ajustar bordes y márgenes -->
      <SwiperSlider />
    </div>
  </div>
</Section>
<style></style>
