---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-10">
    <!-- Reduce el margen superior -->
    <SectionTitle
      sectionTitle="Testimonios de nuestros clientes"
      description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services"
    />
    <div class="cont rounded-[30px] bg-[#B2B2B2] mb-[10px] text-white">
      <!-- Ajustar bordes y márgenes -->
      <SwiperSlider />
    </div>
  </div>
</Section>
<style>

</style>
