---
// Footer.astro
import brand from "../../assets/logopng.png";
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
---

<footer class="w-full">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!--Grid-->
    <div
      class="grid grid-cols-2 grid-rows-3 gap-3 md:gap-8 py-10 max-sm:max-w-sm max-sm:mx-auto gap-y-8"
    >
      <div class="row-span-3 col-span-2 mb-10 lg:col-span-1 lg:mb-0">
        <a href="/" class="flex justify-center lg:justify-start">
          <Image src={brand} alt="logo" class="h-48 w-auto" />
        </a>
        <div class="max-w-7xl mx-auto">
          <div class="flex flex-col items-center md:items-start text-[#575756] text-[0.95rem] mb-4">
            <div class="flex flex-col gap-4 md:gap-6">
              <div class="flex items-center space-x-2 whitespace-nowrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                  ></path>
                </svg>
                <span>(123) 456-7890</span>
              </div>
              <div class="flex items-center space-x-2 whitespace-nowrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  ></path>
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
                <span>info@ejemplo.com</span>
              </div>
              <div class="flex items-center space-x-2 whitespace-nowrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span>Lun-Vie: 9:00 - 18:00</span>
              </div>
            </div>
          </div>
        </div>
        

        <a
          href="javascript:;"
          class="py-2.5 px-5 h-9 block w-fit bg-[#F9B200] rounded-full shadow-sm text-xs text-white mx-auto transition-all duration-500 hover:bg-[#F9B200]/80 lg:mx-0"
        >
          Contáctanos
        </a>
      </div>
      <div
        class="col-span-2 lg:col-span-1 lg:col-start-2 row-span-3 flex flex-col items-center"
      >
        <iframe
          class="rounded-lg border border-gray-300 mt-4"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3202.990885020802!2d-72.10667582452129!3d-36.60252857230404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9668d7d0c244229b%3A0xf4f0beb1bc26c26f!2sCarrera%20257%2C%203800410%20Chill%C3%A1n%2C%20%C3%91uble!5e0!3m2!1ses!2scl!4v1734576596824!5m2!1ses!2scl"
          width="400"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="py-7 border-t border-gray-200">
      <div
        class="flex items-center justify-center flex-col lg:justify-between lg:flex-row"
      >
        <span class="text-sm text-gray-500">
          © <a href="" class="text-[#F9B200] hover:text-[#F9B200]/80">Geosys</a
          > 2024, Todos los derechos reservados.
        </span>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background: rgb(178, 178, 178);
    background: linear-gradient(
      0deg,
      rgba(178, 178, 178, 0.272233893557423) 2%,
      rgba(255, 251, 251, 0.38988095238095233) 81%
    );
  }
</style>
