---
import SectionTitle from "./SectionTitle.astro";
---

<div
  class="formulario flex flex-col lg:flex-row relative justify-center items-center p-8 rounded-2xl overflow-hidden"
>
  <!-- Formulario -->
  <form
    id="contact-form"
    action="https://formspree.io/f/mjkkgelj"
    method="POST"
    target="_blank"
    class="sm:p-4 h-full w-full lg:max-w-lg lg:mx-auto rounded-2xl"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Nombre -->
      <div class="mt-5 mb-3">
        <label for="name" class="block text-black mb-1 text-sm">Nombre</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nombre"
          class="w-full px-3 py-2 border border-black rounded-md text-black outline-none text-sm"
        />
      </div>
      <!-- Apellido -->
      <div class="mt-5 mb-3">
        <label for="lastname" class="block text-black mb-1 text-sm"
          >Apellido</label
        >
        <input
          type="text"
          id="lastname"
          name="lastname"
          placeholder="Apellido"
          class="w-full px-3 py-2 border border-black rounded-md text-black outline-none text-sm"
        />
      </div>
    </div>

    <!-- Asunto ocupa todo el ancho -->
    <div class="mb-3">
      <label for="asunto" class="block text-black mb-1 text-sm">Asunto</label>
      <input
        type="text"
        id="asunto"
        name="asunto"
        placeholder="Asunto"
        class="w-full px-3 py-2 border border-black rounded-md text-black outline-none text-sm"
      />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="block text-black mb-1 text-sm">Email*</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="w-full px-3 py-2 border border-black rounded-md text-black outline-none text-sm"
        />
      </div>
      <!-- Número telefónico -->
      <div class="mb-3">
        <label for="number" class="block text-black mb-1 text-sm"
          >Número telefónico</label
        >
        <input
          type="number"
          id="number"
          name="number"
          placeholder="+56 9 XXXXXXXX"
          class="w-full px-3 py-2 border border-black rounded-md text-black outline-none text-sm"
        />
      </div>
    </div>

    <!-- Mensaje -->
    <div class="mb-3">
      <label for="message" class="block text-black mb-1 text-sm">Mensaje*</label
      >
      <textarea
        id="message"
        name="message"
        placeholder="Escríbenos"
        class="w-full px-3 py-5 border border-black rounded-md text-black outline-none text-sm"
      ></textarea>
    </div>

    <button type="submit" name="submit" class="btn-primary w-full text-sm py-4">
      Enviar
    </button>
  </form>

  <!-- <div id="confirmation-message" class="hidden">
    <h3>
      ¡Gracias por contactarnos! Tu mensaje ha sido enviado, Luego nos
      contactaremos contigo.
    </h3>
  </div> -->

  <div
    id="confirmation-message"
    class="hidden message w-100 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div
      class="col-span-2 text-lg text-gray-700 font-bold capitalize rounded-md"
    >
    </div>
    <div class="col-span-2 rounded-md text-gray-700">
      Gracias por contactarnos. Hemos recibido tu mensaje y nos pondremos en
      contacto contigo lo antes posible. Si necesitas asistencia inmediata, no
      dudes en llamarnos. ¡Que tengas un excelente día!
    </div>
  </div>
</div>

<style>
  .formulario {
    background: rgb(245, 244, 244);
    background: linear-gradient(
      90deg,
      rgba(245, 244, 244, 0.6559873949579832) 17%,
      rgba(245, 244, 244, 1) 83%
    );
  }
  .message {
    background: rgb(254, 235, 217);
  }

  p {
    font-size: 1.25rem;
  }
  .gradient-background {
    background: rgb(249, 178, 0);
    background: radial-gradient(
      circle,
      rgba(249, 178, 0, 0.7232142857142857) 14%,
      rgba(249, 178, 0, 0.6559873949579832) 90%
    );
  }
  .hidden {
    display: none;
  }
</style>

<script is:inline>
  function handleSubmit(event) {
    event.preventDefault(); // Previene el comportamiento por defecto del formulario

    // Oculta el formulario
    document.getElementById("contact-form").style.display = "none";

    // Muestra el mensaje de confirmación
    document.getElementById("confirmation-message").classList.remove("hidden");

    // Crear un nuevo formulario para enviar la solicitud
    const form = document.createElement("form");
    form.action = event.target.action;
    form.method = event.target.method;
    form.target = "_blank";

    // Copiar todos los campos del formulario original
    new FormData(event.target).forEach((value, key) => {
      const input = document.createElement("input");
      input.type = "hidden";
      input.name = key;
      input.value = value;
      form.appendChild(input);
    });

    // Agregar el formulario al cuerpo y enviarlo
    document.body.appendChild(form);
    form.submit();

    // Eliminar el formulario después de enviarlo
    document.body.removeChild(form);
  }

  document
    .getElementById("contact-form")
    .addEventListener("submit", handleSubmit);
</script>
