---
const { sectionTitle, description, id } = Astro.props;
import { Image } from "astro:assets";
import title from "../../assets/titulo.png";
---

<div id={id} class="flex flex-row items-center gap-4 mb-[20px] mt-[250px] sm:flex-row">
  <Image src={title} alt="..." />
  <h2
    class="text-lg font-bold text-[#575756] text-center sm:text-center sm:text-2xl p-2 rounded-lg gradient-background"
  >
    {sectionTitle} <span class="font-bold text-[#A65317]">{description}</span>
  </h2>
</div>

<style>
  .gradient-background {
    /* background: radial-gradient(
      circle,
      rgba(249, 178, 0, 0.7232142857142857) 14%,
      rgba(249, 178, 0, 0.6559873949579832) 90%
    ); */
  }
</style>
